SECRET_KEY=your-strong-random-secret-key-here
DEBUG=False
ALLOWED_HOSTS=ecolens-api.duckdns.org,localhost

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Database
DB_NAME=ecolens_db
DB_USER=ecolens_user
DB_PASSWORD=your-db-password
DB_PORT=5432

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# CORS
CORS_ALLOWED_ORIGINS=https://gp2-frontend.vercel.app,https://ecolens-api.duckdns.org

# AI model
BIOCLIP_VERSION=2