Django
djangorestframework
psycopg2-binary  
django-cors-headers 
pillow
djangorestframework-simplejwt
dj-rest-auth[with-social]

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
open_clip_torch
numpy
huggingface_hub
peft
safetensors

pytest
pytest-django
bandit
ruff

django-storages 
boto3
python-dotenv
gunicorn